#ul1{
	margin: 0.2%;
	color: white; 
	text-align: center;
}
#ul2{
	margin: 0.2%;
	text-align: center;
}
#ul2 i{
	color: white; 
}
#row1{
	background-color: #1B4F72;
}
#ul1 a{
 	color: #ffffff;
}
.navbar-default{
	background-color: #21618C;
}
.navbar-default #nav1{
	margin-left: 1%; 
}
#nav1 button{
	background-color: #1B4F72;
	border-style: none;
}
#nav1 button span{
	background-color: #ffffff;
}
.navbar-header #brand1{
	font-size: 160%;
	font-family: display;
	color: #ffffff;
}
.navbar-nav #navc1{
	color: #ffffff;
}
.navbar-toggle{
	background-color: #ffffff;
}
.navbar-nav #navc1:hover{
	border-bottom: solid;
	border-bottom-color: #ffffff;
}
.navbar-nav .active a{
	border-bottom: solid;
	border-bottom-color: #ffffff;
}
#navt{
	margin-right: 5%;
}
.col-md-11{
	background-color:#21618C;
	height: 300px;
	margin-top: 12%;
	color: #ffffff;
	text-align: left;
	font-size: 17px;
	font-family:Unna;
}
#box1 .btn{
	position: absolute;
	top:82%;
	left: 27%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box2 .btn{
	position: absolute;
	top:82%;
	left: 27%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box3 .btn{
	position: absolute;
	top:82%;
	left: 27%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box4 .btn{
	position: absolute;
	top:82%;
	left: 27%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box1 .btn a{
	color: #ffffff;
}
#box1 .btn:hover a{
	text-decoration: none;
	color:#1B4F72;
}
#box1 .btn:hover{
	background-color: #ffffff;
	border-bottom-width:0px;
}
#box2 .btn a{
	color: #ffffff;
}
#box2 .btn:hover a{
	text-decoration: none;
	color:#1B4F72;
}
#box2 .btn:hover{
	background-color: #ffffff;
	border-bottom-width:0px;
}
#box3 .btn a{
	color: #ffffff;
}
#box3 .btn:hover a{
	text-decoration: none;
	color:#1B4F72;
}
#box3 .btn:hover{
	background-color: #ffffff;
	border-bottom-width:0px;
}
#box4 .btn a{
	color: #ffffff;
}
#box4 .btn:hover a{
	text-decoration: none;
	color:#1B4F72;
}
#box4 .btn:hover{
	background-color: #ffffff;
	border-bottom-width:0px;
}
#box span{
	position:absolute;
	top:45%;
	padding-right: 10px;
}
#head1{
	font-size: 28px;
	position: absolute;
	top:20%;
	text-align: center;
	font-family: Abhaya Libre;
}
.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 200px;
	height: 53px;
	font-size: 36px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 5px;
	border-right-color: #ffffff;
 	left:-160px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:34%;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:43%;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:52%;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:61%;
	background-color: #1B4F72;
}
.sidenav a:hover{
	left:0%;
}
#network{
	min-height: 350px;
	background-color:#21618C; 
}
.col-md-12 h3{
	margin-top: 2%;
	font-size: 36px;
	text-align: center;
	font-family: Tauri;
	color: #ffffff;
}
.col-md-12 p{
	position:absolute;
	top:160%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 18px;
	text-align: center;
	font-family: Unna;
	color: #ffffff;
}
.row #Dyn{
	position: absolute;
	top:350%;
	left: 45%;
	border-radius:0px;
	background-color: #1B4F72;
	border-color: #1B4F72;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff; 
}
#Dyn:hover{
	background-color: #ffffff;
}
#Dyn a{
	color: #ffffff;
	font-family: ABeeZee;
}
#Dyn:hover a{
	text-decoration: none;
	color: #1B4F72;
}
#footer .row{
	height: 380px;
	background-color: #21618C;
}
#foot1{
	height: 350px;
	background-color: #1B4F72;
	margin-top: 15px;
	text-align: center;
}
#foot1 h3{
	font-size: 28px;
	padding-top: 2%; 
	font-family: Tauri;
	color: #ffffff;  
}
#foot2 h3{
	font-size: 28px;
	padding-top: 2%;
	font-family: Tauri;
	color: #ffffff;  
}
#foot1 p{
	font-size: 18px;
	font-family: Unna;
	color: #ffffff;  
	padding-left: 15%;
	padding-right: 15%;
	text-align: justify;
}
#foot1 hr{
	width: 50%;
}
#foot2 hr{
	width: 50%;
}
#foot2{
	height: 350px;
	background-color: #1B4F72;
	margin-top: 15px;
	text-align:center;
}
#foot2 .form-group{
	padding-right: 15%;
	padding-left: 15%;
}
#foot2 .form-group input{
	border-radius: 0px;
	font-size: 16px;
}
#foot2 .form-group textarea{
	border-radius: 0px;
	font-size: 16px;
	resize:none;
}
#sub1{
border-radius:0px;
font-family:ABeeZee;
background-color: #1B4F72;
color: #ffffff;
float: right;
margin-right: 15%;
}
#sub1:hover{
	background-color: #ffffff;
}
#sub1:hover span{
	color:#1B4F72;
}
#carousalbtn{
	font-size: 18px;
	font-family: Times New Roman;
	border-radius: 0px;
}
#carousalbtn:hover{
	background-color: #1B4F72;
	border-style: none;
}
#carousalbtn:hover a{
	color: #ffffff;
	text-decoration: none;
}
#Cimg1 img{
	width:100%;
}
#Ccontact{
	background-color: #21618C;
	height: 400px;
}
#Ccontact form{
	padding-left: 15%;
	padding-right: 15%;
}
#Ccontact input{
	border-radius: 0px;
}
#Ccontact textarea{
	border-radius: 0px;
	resize: none;
}
#Ccontact button{
	border-radius: 0px;
	float: right;
	margin-top: 2%;
	background-color: #1B4F72;
	border-style: none;
}
#Ccontact button:hover{
	background-color: #ffffff;
}
#Ccontact button:hover span{
	color:#1B4F72; 
}
#Ccontact button span{
	color:#ffffff; 
}
#Ccontact hr{
	width: 70%; 
}
#Ccontact h2{
	padding-left: 15%; 
	font-family: Tauri;
	color: #ffffff;
}
#Cdetail{
	background-color: #21618C;
	height: 400px;
}
#Cdetail{
	padding-right: 10%;	
}
#Cdetail h2{
	font-family: Tauri;
	color: #ffffff;
}
#Cdetail p{
	padding-top:15%; 
	color: #ffffff;
	font-family: Unna;
	font-size: 16px;
}
#Cdetail i{
	color: #ffffff;
	font-size: 22px;
}
#Cgly span{
	color: #ffffff;
	padding-left: 5%;
	font-size: 15px;
}
#Ccaption{
	font-size: 40px;
	position: absolute;
	color: #ffffff;
	font-weight: bold;
	font-family: Tauri;
	top:27%;
	left: 40%;
}
#Tpills a{
	font-family: display;
	font-size: 18px;
	border-bottom-style: solid;
	border-bottom-color: #21618C;
	border-radius: 0px;
}
#Tpills a:focus{
	background-color:#21618C;
	color: #ffffff;
}
#Tcontent h2{
	font-family: Tauri;
	text-align: center;
	font-size: 26px;
}
#TmiRNA textarea{
	resize: none;
}
#Aabout1{
	background-color: #ffffff;
	height: 850px;
	font-family: Tauri;
}
#Aabout1{
	text-align: center;
}
.carousel-caption h2{
	text-shadow: 2px 1px 1px #000000;
}
.carousel-caption h4{
	text-shadow: 2px 1px 1px #000000;
}
#Tmembers h4,h5{
	font-family: Tauri;
}
@media only screen and (max-width:368px){
.sidenav a{
	position: absolute;
	display: none;
	z-index: +1;
	border-style: bold;
	width: 60px;
	height: 23px;
	padding-top: 2px;
	font-size: 12px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
 	left:-50px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:100px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:126px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:152px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:178px;
	background-color: #1B4F72;
}
#carousalbtn{
	display: none;
}
.carousel-caption h2{
	font-size: 16px;
}
.carousel-caption h4{
	font-size: 12px;
}
#network{
	min-height: 450px;
	background-color:#21618C; 
}
.col-md-12 h3{
	margin-top: 5%;
	font-size: 26px;
	text-align: center;
	font-family: Tauri;
	color: #ffffff;
}
.col-md-12 p{
	position:absolute;
	top:130%;
	padding-left: 7%;
	padding-right: 10%;
	font-size: 16px;
	text-align: center;
	font-family: Unna;
	color: #ffffff;
}
.row #Dyn{
	position: absolute;
	top:630%;
	left: 19%;
	border-radius:0px;
	background-color: #1B4F72;
	border-color: #1B4F72;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff; 
}
#Dyn:hover{
	background-color: #ffffff;
}	
#Ccontact h2{
	padding-top: 3%;
	font-size: 20px;
}
#Ccontact{
	margin-top: -7.1%;
	height: 330px;
}
#Ccontact form textarea{
	height: 100px;
}	
#Cdetail{
	padding-left: 15%;	
}
#Cdetail{
	height: 380px;
	margin-top: -7%;
}
#Cdetail h2{
	padding-top: 5%;
	font-size: 20px;
}
#Cdetail p{
	padding-top: 8%;
	font-size: 14px;
}
#Ccaption{
	font-size: 10px;
	position: absolute;
	top:17%;
	left: 10%;
	text-align: center;
	display: none;
	text-shadow: 3px 2px 1px black;
}
#foot1{
	height: 550px;
}
#foot2{
	height: 350px;
}
}
@media only screen and (min-width:368px) and (max-width:428px){
.sidenav a{
	position: absolute;
	z-index: +1;
	display:none;
	border-style: bold;
	width: 60px;
	height: 23px;
	padding-top: 2px;
	font-size: 12px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
 	left:-50px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:120px;
	background-color:#1B4F72;
}
#TF{
	position: absolute;
	top:146px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:172px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:198px;
	background-color: #1B4F72;
}
#head1{
	font-size: 30px;
	position: absolute;
	top:30%;
	margin-left: 20%;
	transition: 0.3s;
	font-family: Abhaya Libre;
}
#box1 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box2 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box3 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box4 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#carousalbtn{
	display: none;
}
.carousel-caption h2{
	font-size: 18px;
}
.carousel-caption h4{
	font-size: 14px;
}
#network{
	height: 430px;
	background-color:#21618C; 
}
.col-md-12 h3{
	margin-top: 5%;
	font-size: 26px;
	text-align: center;
	font-family: Tauri;
	color: #ffffff;
}
.col-md-12 p{
	position:absolute;
	top:130%;
	padding-left: 14%;
	padding-right: 14%;
	font-size: 16px;
	text-align: center;
	font-family: Unna;
	color: #ffffff;
}
.row #Dyn{
	position: absolute;
	top:630%;
	left: 24%;
	border-radius:0px;
	background-color: #1B4F72;
	border-color: #1B4F72;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff; 
}
#Dyn:hover{
	background-color: #ffffff;
}
#Ccontact h2{
	padding-top: 3%;
	font-size: 22px;
}
#Ccontact{
	height: 330px;
	margin-top: -6.5%;
}
#Ccontact form textarea{
	height: 100px;
}	
#Cdetail{
	padding-left: 15%;	
}
#Cdetail{
	height: 390px;
	margin-top: -5.8%;
}
#Cdetail h2{
	padding-top: 5%;
	font-size: 22px;
}
#Cdetail p{
	padding-top: 8%;
	font-size: 16px;
}
#Ccaption{
	font-size: 12px;
	position: absolute;
	top:18%;
	left: 11%;
	text-align: center;
	display: none;
}
#foot1{
	height: 450px;
}
#foot2{
	height: 350px;
}	
}
@media only screen and (min-width:428px) and (max-width:490px){
	.sidenav a{
	position: absolute;
	z-index: +1;
	display:none;
	border-style: bold;
	width: 60px;
	height: 23px;
	padding-top: 2px;
	font-size: 12px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
 	left:-50px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:120px;
	background-color:#1B4F72;
}
#TF{
	position: absolute;
	top:146px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:172px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:198px;
	background-color: #1B4F72;
}
#head1{
	font-size: 30px;
	position: absolute;
	top:30%;
	margin-left: 25%;
	transition: 0.3s;
	font-family: Abhaya Libre;
}
#box1 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box2 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box3 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box4 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#carousalbtn{
	display: none;
}
.carousel-caption h2{
	font-size: 18px;
}
.carousel-caption h4{
	font-size: 14px;
}
#network{
	height: 400px;
	background-color:#21618C; 
}
.col-md-12 h3{
	margin-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 26px;
	text-align: center;
	font-family: Tauri;
	color: #ffffff;
}
.col-md-12 p{
	position:absolute;
	top:130%;
	padding-left: 12%;
	padding-right: 14%;
	font-size: 16px;
	text-align: center;
	font-family: Unna;
	color: #ffffff;
}
.row #Dyn{
	position: absolute;
	top:550%;
	left: 29%;
	border-radius:0px;
	background-color: #1B4F72;
	border-color: #1B4F72;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff; 
}
#Dyn:hover{
	background-color: #ffffff;
}
#Ccontact h2{
	padding-top: 3%;
	font-size: 22px;
}
#Ccontact{
	height: 330px;
	margin-top: -6.7%;
}
#Ccontact form textarea{
	height: 100px;
}	
#Cdetail{
	padding-left: 15%;	
}
#Cdetail{
	height: 360px;
	margin-top: -5%;
}
#Cdetail h2{
	padding-top: 5%;
	font-size: 22px;
}
#Cdetail p{
	padding-top: 8%;
	font-size: 16px;
}
#Ccaption{
	font-size: 13px;
	position: absolute;
	top:19%;
	left: 16%;
	display: none;
	text-align: center;
}
#foot1{
	height: 400px;
}
#foot2{
	height: 350px;
}
	}
@media only screen and (min-width:490px) and (max-width:541px){
.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 80px;
	display:none;
	height: 28px;
	padding-top: 2px;
	font-size: 14px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
 	left:-63px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:150px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:180px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:209px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:238px;
	background-color: #1B4F72;
}
#head1{
	font-size: 30px;
	position: absolute;
	top:25%;
	margin-left: 25%;
	transition: 0.3s;
	font-family: Abhaya Libre;
}
#box span{
	position:absolute;
	top:45%;
	left:10%;
	transition: 0.3s;
}
#box1 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box2 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box3 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box4 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#carousalbtn{
	display: none;
}
.carousel-caption h2{
	font-size: 20px;
}
.carousel-caption h4{
	font-size: 15px;
}
#network{
	height: 400px;
	background-color:#21618C; 
}
.col-md-12 h3{
	margin-top: 5%;
	font-size: 28px;
	padding-right: 6%;
	padding-left: 11%;
	text-align: center;
	font-family: Tauri;
	color: #ffffff;
}
.col-md-12 p{
	position:absolute;
	top:130%;
	padding-left: 12%;
	padding-right: 10%;
	font-size: 18px;
	text-align: center;
	font-family: Unna;
	color: #ffffff;
}
.row #Dyn{
	position: absolute;
	top:500%;
	left: 33%;
	border-radius:0px;
	background-color: #1B4F72;
	border-color: #1B4F72;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff; 
}
#Dyn:hover{
	background-color: #ffffff;
}
#Ccontact h2{
	padding-top: 3%;
	font-size: 22px;
}
#Ccontact{
	height: 300px;
	margin-top: -6.7%;
}
#Ccontact form textarea{
	height: 70px;
}	
#Cdetail{
	padding-left: 15%;
	margin-top: -5%;	
}
#Cdetail{
	height: 340px;
}
#Cdetail h2{
	padding-top: 5%;
	font-size: 22px;
}
#Cdetail p{
	padding-top: 8%;
	font-size: 16px;
}
#Ccaption{
	font-size: 15px;
	position: absolute;
	top:19%;
	left: 16%;
	display: none;
	text-align: center;
}	
}
@media only screen and (min-width:541px) and (max-width:570px){
	.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 80px;
	display:none;
	height: 28px;
	padding-top: 2px;
	font-size: 14px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
 	left:-63px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:150px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:180px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:209px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:238px;
	background-color: #1B4F72;
}
#head1{
	font-size: 30px;
	position: absolute;
	top:25%;
	margin-left: 28%;
	transition: 0.3s;
	font-family: Abhaya Libre;
}
#box span{
	position:absolute;
	top:45%;
	left:10%;
	transition: 0.3s;
}
#box1 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box2 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box3 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box4 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#carousalbtn{
	display: none;
}
.carousel-caption h2{
	font-size: 20px;
	position: relative;
	bottom: 40px;
}
.carousel-caption h4{
	font-size: 15px;
	position: relative;
	bottom: 40px;
}
#network{
	height: 400px;
	background-color:#21618C; 
}
.col-md-12 h3{
	margin-top: 5%;
	font-size: 30px;
	padding-right: 6%;
	padding-left: 11%;
	text-align: center;
	font-family: Tauri;
	color: #ffffff;
}
.col-md-12 p{
	position:absolute;
	top:130%;
	padding-left: 12%;
	padding-right: 10%;
	font-size: 18px;
	text-align: center;
	font-family: Unna;
	color: #ffffff;
}
.row #Dyn{
	position: absolute;
	top:450%;
	left: 33%;
	border-radius:0px;
	background-color: #1B4F72;
	border-color: #1B4F72;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff; 
}
#Dyn:hover{
	background-color: #ffffff;
}
#Ccontact h2{
	padding-top: 3%;
	font-size: 24px;
}
#Ccontact{
	height: 320px;
	margin-top: -6.7%;
}
#Ccontact form textarea{
	height: 70px;
}	
#Cdetail{
	padding-left: 15%;	
}
#Cdetail{
	height: 340px;
	margin-top: -5%;
}
#Cdetail h2{
	padding-top: 5%;
	font-size: 24px;
}
#Cdetail p{
	padding-top: 8%;
	font-size: 16px;
}
#Ccaption{
	font-size: 15px;
	position: absolute;
	top:19%;
	display: none;
	left: 16%;
	text-align: center;
}
	}
@media only screen and (min-width:570px) and (max-width:651px){
	.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 80px;
	display:none;
	height: 28px;
	padding-top: 2px;
	font-size: 14px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
 	left:-63px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:150px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:180px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:209px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:238px;
	background-color: #1B4F72;
}
#head1{
	font-size: 30px;
	position: absolute;
	top:25%;
	margin-left: 30%;
	transition: 0.3s;
	font-family: Abhaya Libre;
}
#box span{
	position:absolute;
	top:45%;
	left:10%;
	transition: 0.3s;
}
#box1 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box2 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box3 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box4 .btn{
	position: absolute;
	top:82%;
	left: 37%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#carousalbtn{
	display:none;
}
.carousel-caption h2{
	font-size: 20px;
	position: relative;
	bottom: 45px;
}
.carousel-caption h4{
	font-size: 15px;
	position: relative;
	bottom: 45px;
}
#network{
	height: 380px;
	background-color:#21618C; 
}
.col-md-12 h3{
	margin-top: 5%;
	font-size: 30px;
	text-align: center;
	font-family: Tauri;
	color: #ffffff;
}
.col-md-12 p{
	position:absolute;
	top:160%;
	padding-left: 12%;
	padding-right: 10%;
	font-size: 18px;
	text-align: center;
	font-family: Unna;
	color: #ffffff;
}
.row #Dyn{
	position: absolute;
	top:800%;
	left: 33%;
	border-radius:0px;
	background-color: #1B4F72;
	border-color: #1B4F72;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff; 
}
#Dyn:hover{
	background-color: #ffffff;
}
#Ccontact h2{
	padding-top: 3%;
}
#Ccontact{
	height: 350px;
	margin-top: -5%;
}
#Ccontact form textarea{
	height: 100px;
}	
#Cdetail{
	padding-left: 15%;	
	margin-top: -5%;
}
#Cdetail{
	height: 340px;
}
#Cdetail h2{
	padding-top: 5%;
}
#Cdetail p{
	padding-top: 8%;
}
#Ccaption{
	font-size: 17px;
	position: absolute;
	top:21%;
	left: 16%;
	display: none;
	text-align: center;
}
	}	
@media only screen and (min-width:651px) and (max-width:770px){
.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 90px;
	height: 33px;
	display:none;
	padding-top: 3px;
	font-size: 16px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
 	left:-69px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:162px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:197px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:232px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:267px;
	background-color: #1B4F72;
}
#head1{
	font-size: 30px;
	position: absolute;
	top:25%;
	margin-left: 33%;
	transition: 0.3s;
	font-family: Abhaya Libre;
}
#box span{
	position:absolute;
	top:45%;
	left:12%;
	transition: 0.3s;
}
#box1 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box2 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box3 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box4 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#carousalbtn{
	display:none;
}
.carousel-caption h2{
	font-size: 19px;
	position: relative;
	bottom: 50px;
}
.carousel-caption h4{
	font-size: 16px;
	position: relative;
	bottom: 50px;
}
#network{
	height: 350px;
	background-color:#21618C; 
}
.col-md-12 h3{
	margin-top: 5%;
	font-size: 30px;
	text-align: center;
	font-family: Tauri;
	color: #ffffff;
}
.col-md-12 p{
	position:absolute;
	top:160%;
	padding-left: 12%;
	padding-right: 10%;
	font-size: 18px;
	text-align: center;
	font-family: Unna;
	color: #ffffff;
}
.row #Dyn{
	position: absolute;
	top:750%;
	left: 38%;
	border-radius:0px;
	background-color: #1B4F72;
	border-color: #1B4F72;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff; 
}
#Dyn:hover{
	background-color: #ffffff;
}
#Ccontact{
	height: 320px;
	margin-top: -3.5%;
}
#Ccontact h2{
	padding-top: 5%;
}	
#Cdetail{
	padding-left: 15%;
	margin-top: -4%;
}
#Cdetail h2{
	padding-top: 5%;
}
#Ccontact form textarea{
	height: 100px;
}
#Cdetail{
	height: 320px;
}
#Cdetail p{
	padding-top: 5%;
}
#Ccaption{
	font-size: 19px;
	position: absolute;
	top:22%;
	left: 17%;
	display: none;
	text-align: center;
}
}
@media only screen and (min-width:770px) and (max-width:900px){
.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 95px;
	height: 35px;
	padding-top: 4px;
	font-size: 16px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
 	left:-72px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:183px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:220px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:257px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:293.5px;
	background-color: #1B4F72;
}
#head1{
	font-size: 30px;
	position: absolute;
	top:25%;
	margin-left: 33%;
	transition: 0.3s;
	font-family: Abhaya Libre;
}
#box span{
	position:absolute;
	top:45%;
	left:14%;
	transition: 0.3s;
}
#box1 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box2 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box3 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box4 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#carousalbtn{
	font-size: 12px;
	font-family: ABeeZee;
	color:white;
	border-style: solid;
	padding: 3px;
	border-width: 2px;
}
.carousel-caption h2{
	font-size: 24px;
	position: relative;
	bottom: 60px;
}
.carousel-caption h4{
	font-size: 20px;
	position: relative;
	bottom: 55px;
}
#carousalbtn{
	font-size: 14px;
	position: relative;
	bottom: 25px;
	border-style: none;
}	
#network{
	height:230px;
	background-color:#21618C; 
}
.col-md-12 h3{
	margin-top: 5%;
	font-size: 30px;
	text-align: center;
	font-family: Tauri;
	color: #ffffff;
}
.col-md-12 p{
	position:absolute;
	top:160%;
	padding-left: 12%;
	padding-right: 10%;
	font-size: 18px;
	text-align: center;
	font-family: Unna;
	color: #ffffff;
}
.row #Dyn{
	position: absolute;
	top:650%;
	left: 38%;
	border-radius:0px;
	background-color: #1B4F72;
	border-color: #1B4F72;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff; 
}
#Dyn:hover{
	background-color: #ffffff;
}
#Ccontact{
	height: 320px;
	margin-top: -3%;
}
#Ccontact h2{
	padding-top: 3%;
}	
#Cdetail{
	padding-left: 15%;
	margin-top: -3%;	
}
#Cdetail h2{
	padding-top: 5%;
}
#Ccontact form textarea{
	height: 100px;
}
#Cdetail{
	height: 320px;
}
#Cdetail p{
	padding-top: 5%;
}
#Ccaption{
	position: absolute;
	top:24%;
	text-align: center;
}	
}
@media only screen and (min-width:900px) and (max-width:991.5px){
.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 160px;
	height: 40px;
	padding-top: 8px;
	font-size: 17px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
 	left:-130px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:225px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:267px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:309px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:350px;
	background-color: #1B4F72;
}
#head1{
	font-size: 30px;
	position: absolute;
	top:25%;
	margin-left: 32%;
	transition: 0.3s;
	font-family: Abhaya Libre;
}
#box span{
	position:absolute;
	top:45%;
	left:14%;
	transition: 0.3s;
}
#box1 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box2 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box3 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box4 .btn{
	position: absolute;
	top:82%;
	left: 41%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
.carousel-caption h2{
	font-size: 30px;
	position: relative;
	bottom: 80px;
}
.carousel-caption h4{
	font-size: 24px;
	position: relative;
	bottom: 80px;
}
#carousalbtn{
	font-size: 18px;
	position: relative;
	bottom: 30px;
}
#network{
	height:230px;
	background-color:#21618C; 
}
.col-md-12 h3{
	margin-top: 5%;
	font-size: 30px;
	text-align: center;
	font-family: Tauri;
	color:#ffffff;
}
.col-md-12 p{
	position:absolute;
	top:160%;
	padding-left: 12%;
	padding-right: 10%;
	font-size: 18px;
	text-align: center;
	font-family: Unna;
	color: #ffffff;
}
.row #Dyn{
	position: absolute;
	top:650%;
	left: 40%;
	border-radius:0px;
	background-color: #1B4F72;
	border-color: #1B4F72;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff; 
}
#Dyn:hover{
	background-color: #ffffff;
}
#Ccontact{
	height: 320px;
	margin-top: -2.5%;
}
#Ccontact h2{
	padding-top: 3%;
}	
#Cdetail{
	padding-left: 15%;
	margin-top: -2.5%;	
}
#Cdetail h2{
	padding-top: 5%;
}
#Ccontact form textarea{
	height: 100px;
}
#Cdetail{
	height: 320px;
}
#Cdetail p{
	padding-top: 5%;
}
#Ccaption{
	position: absolute;
	top:26%;
	text-align: center;
}		
}
@media only screen and (min-width:991.5px) and (max-width:1050px){
.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 160px;
	height: 40px;
	padding-top: 8px;
	font-size: 17px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 3px;
	border-right-color: #ffffff;
 	left:-130px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:225px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:267px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:309px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:350px;
	background-color: #1B4F72;
}
.carousel-caption h2{
	font-size: 30px;
	position: relative;
	bottom: 110px;
}
.carousel-caption h4{
	font-size: 24px;
	position: relative;
	bottom: 110px;
}
#carousalbtn{
	font-size: 18px;
	position: relative;
	bottom: 30px;
}
#Ccaption{
	position: absolute;
	top:25%;
	text-align: center;
}
#Cdetail{
	height: 320px;
}		
}
@media only screen and (min-width:990px) and (max-width:1250px){
#Cdetail{
	height: 500px;
}	
#Ccontact{
	height: 500px;
}
	}
@media only screen and (min-width:1250px) and (max-width:1450px){
.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 170px;
	height: 50px;
	padding-top: 7px;
	font-size: 24px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 4px;
	border-right-color: #ffffff;
 	left:-130px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:245px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:298px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:351px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:404px;
	background-color: #1B4F72;
}
#head1{
	font-size: 30px;
	position: absolute;
	top:25%;
	text-align: left;
	transition: 0.3s;
	font-family: Abhaya Libre;
}
#box span{
	position:absolute;
	top:45%;
	left:10%;
	transition: 0.3s;
}
#box1 .btn{
	position: absolute;
	top:82%;
	left: 25%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box2 .btn{
	position: absolute;
	top:82%;
	left: 25%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box3 .btn{
	position: absolute;
	top:82%;
	left: 25%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
#box4 .btn{
	position: absolute;
	top:82%;
	left: 25%;
	border-radius: 0px;
	border-color: #1B4F72;
	border-bottom-color: #ffffff;
	border-bottom-width:3px; 
	font-family: ABeeZee;
	font-size: 14px;
	background-color: #1B4F72;
}
.carousel-caption h2{
	font-size: 35px;
	position: relative;
	bottom: 170px;
}
.carousel-caption h4{
	font-size: 28px;
	position: relative;
	bottom: 170px;
}	
#carousalbtn{
	font-size: 18px;
	position: relative;
	bottom: 45px;
}	
}
@media only screen and (min-width:1450px) and (max-width:1600px){
.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 200px;
	height: 53px;
	font-size: 36px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 5px;
	border-right-color: #ffffff;
 	left:-160px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:270px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:328px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:386px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:445px;
	background-color: #1B4F72;
}
.carousel-caption h2{
	font-size: 36px;
	position: relative;
	bottom:180px;
}
.carousel-caption h4{
	font-size: 30px;
	position: relative;
	bottom:180px;
}	
#carousalbtn{
	font-size: 18px;
	position: relative;
	bottom: 50px;
}
}
@media only screen and (min-width:1601px){
.sidenav a{
	position: absolute;
	z-index: +1;
	border-style: bold;
	width: 200px;
	height: 53px;
	font-size: 36px;
	font-family: ABeeZee;
	text-align: center;
	text-decoration:none;
	color: white;
	border-right: solid;
	border-right-width: 5px;
	border-right-color: #ffffff;
 	left:-160px; 
	transition:0.6s;
}
#miRNA{
	position: absolute;
	top:310px;
	background-color: #1B4F72;
}
#TF{
	position: absolute;
	top:368px;
	background-color: #1B4F72;
}
#SSR{
	position: absolute;
	top:426px;
	background-color: #1B4F72}
#SNP{
	position: absolute;
	top:485px;
	background-color: #1B4F72;
}
.carousel-caption h2{
	font-size: 36px;
	position: relative;
	bottom:180px;
}
.carousel-caption h4{
	font-size: 30px;
	position: relative;
	bottom:180px;
}	
#carousalbtn{
	font-size: 18px;
	position: relative;
	bottom: 50px;
}
}